* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
  font-size: 100%;
}

header {
  font-size: 175%;
  text-align: center;
  margin: 40px;
}

#row {
  width: 100%;
}

#row section {
  float: left;

}

section > div {
  border: 1px solid black;
  position: relative;
  background: #d3d3d3;
  margin: 10px;
}

div.title {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  font-size: 125%;
  text-align: center;
}

div.title div {
  border: 1px solid black;
  font-weight: bold;
}

div#Chicken {
  background: pink;
}

div#Beef{
  background: brown;
  color: white;
}

div#Sushi {
  background: yellow;
}

div.tekst {
  margin-top: 30px;
  text-align: justify;
  padding: 15px;
}


/*DESKTOP*/
@media (min-width: 992px) {
  .col-ds-1 {
    width: 8.33%;
  }
  .col-ds-2 {
    width: 16.66%;
  }
  .col-ds-3 {
    width: 25%;
  }
  .col-ds-4 {
    width: 33.33%;
  }
  .col-ds-5 {
    width: 41.66%;
  }
  .col-ds-6 {
    width: 50%;
  }
  .col-ds-7 {
    width: 58.33%;
  }
  .col-ds-8 {
    width: 66.66%;
  }
  .col-ds-9 {
    width: 75%;
  }
  .col-ds-10 {
    width: 83.33%;
  }
  .col-ds-11 {
    width: 91.66%;
  }
  .col-ds-12 {
    width: 100%;
  }
}

/*TABLET*/
@media (min-width: 768px) and (max-width: 991px){
  .col-ts-1 {
    width: 8.33%;
  }
  .col-ts-2 {
    width: 16.66%;
  }
  .col-ts-3 {
    width: 25%;
  }
  .col-ts-4 {
    width: 33.33%;
  }
  .col-ts-5 {
    width: 41.66%;
  }
  .col-ts-6 {
    width: 50%;
  }
  .col-ts-7 {
    width: 58.33%;
  }
  .col-ts-8 {
    width: 66.66%;
  }
  .col-ts-9 {
    width: 75%;
  }
  .col-ts-10 {
    width: 83.33%;
  }
  .col-ts-11 {
    width: 91.66%;
  }
  .col-ts-12 {
    width: 100%;
  }
}